html {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 3em;
}

button {
	font-variant: small-caps;
}

/* MAIN MENU */

.nav.nav-pills li {
	font-variant: small-caps;
}

/* UPLOAD NETWORK FORM */

#upload-form tr > td {
	padding: 0.3em 0;
}

#upload-form tr > td:nth-child(1) {
	padding-right: 1em;
	vertical-align: top;
}

#upload-form #submit {
	text-align: right;
}