{{extend 'layout.html'}}

<h4>{{=T('Choose one:')}}</h4>
<a class="btn btn-block btn-info" href='upload'>{{=T('Upload a network')}}</a>
<a class="btn btn-block btn-success" href='select'>{{=T('Visualize an uploaded network')}}</a>
<a class="btn btn-block btn-danger" onclick='javascript:$("#settings").css({"display":"block"}); document.location.hash="settings";'>{{=T('Settings')}}</a>

<div class="jumbotron" id="settings" style='display: none;'>
	<div class="container">
		<form action="{{=URL('net', 'index')}}" method='post'>
			<p>
				<label for="max_nodes">Max nodes:</label>
				<input type="number" class='form-control' name="max_nodes" value='{{=maxn}}' />
			</p>
			<button class="btn btn-danger" onclick='javascript:$("#settings").css({"display":"none"}); document.location.hash="";'>{{=T('back')}}</button> <input type="submit" value='save' class='btn btn-success' />
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		if(document.location.hash == '#settings') {
			$("#settings").css({"display":"block"});
		}
	});
</script>
