{{extend 'layout.html'}}

<h4 style='margin-bottom: 1em;'>{{=T('Select a network:')}}</h4>
<ul>
	{{if len(rows) == 0:}}
		<li>
			{{=T("No network available... Try")}} <a href="upload">{{=T('uploading')}}</a> {{=T("one :)")}}
		</li>
	{{else:}}
		{{for item in rows:}}
			<li>
				<a href="visualize/{{=item.name}}">{{=item.name}}</a>{{if '' != item.comments:}} <small>~ {{=item.comments}}</small>{{pass}}
			</li>
		{{pass}}
	{{pass}}
</ul>
<br />
<a class="btn btn-danger" href="index">{{=T('home')}}</a>