{{extend 'layout.html'}}

{{if res == 0:}}
	<h4 style='margin-bottom: 1em;'>{{=T('Fill and submit the form to upload a new network:')}}</h4>
	<form action="{{=URL('net','upload')}}" method='post' enctype='multipart/form-data' id='form-upload'>
		<table>
			<tbody>
				<tr>
					<td>
						<label id='nets_name_label' for="nets_name">{{=T('Name:')}}</label>
					</td>
					<td>
						<input id='nets_name' class='form-control' type="text" value='' name='name' />
						{{if errors.has_key('name'):}}
							<small class="error">{{=errors['name']}}</small>
						{{pass}}
					</td>
				</tr>
				<tr>
					<td>
						<label id="nets_network_label" for="nets_network">{{=T('Network:')}}</label>
					</td>
					<td style='padding: 1em 0;'>
						<input id="nets_network" class='upload' type="file" name='network' />
						{{if errors.has_key('network'):}}
							<small class="error">{{=errors['network']}}</small>
						{{pass}}
					</td>
				</tr>
				<tr>
					<td>
						<label id="nets_comments_label" for="nets_comments" style="padding-right: 0.5em;">{{=T('Comments:')}}</label>
					</td>
					<td>
						<textarea name="comments" class="form-control" id="nets_comments" cols="40" rows="10"></textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td style="padding: 0.5em 0; text-align: right;">
						<a class="btn btn-danger" href="index" id="form-back" style="margin-right: 5px;" type="button">{{=T('home')}}</a>
						<input class="btn btn-success" id="form-submit" value="submit" type="button">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('#form-submit').click(function() {
			jQuery('#form-upload').submit();
			jQuery('.btn').addClass('disabled');
			jQuery('input, textarea').attr('disabled','');
		});
	});
	</script>
{{elif res == 1:}}
	<h2 class='text-success'>{{=T('Network uploaded correctly, yay! :D')}}</h2>
	<h4>{{=T('Would you like to start pre-processing it right away?')}}<br />
	<small>
		{{=T('Pre-processing might take from a few minutes to a few hours, based on network size.')}}<br />
		{{=T('Therefore, the earlier you start the better it is. ;)')}}
	</small></h4>
	<a href="index" class="btn btn-danger">{{=T('no')}}</a> <a href="visualize/{{=network}}" class="btn btn-success">{{=T('yes')}}</a>
{{pass}}