{{extend 'layout.html'}}

<script type="text/javascript">
	function setStartingPoint(node) {
		$('#select_starting_point button').addClass('disabled');
		form = $('<form />').attr('method','post').attr('action','{{=URL("net/viewer", name)}}').css({'display':'none'});
		$(form).append($('<input />').attr('type', 'text').attr('name', 'start').attr('value', node));
		$(form).appendTo($('#select_starting_point'));
		$(form).trigger('submit');
	}
</script>
<div id='hidden-json' style="display: none;">{{=j}}</div>
<div>
	{{if n != 0:}}
		{{if row['pflag'] in [3, 4]:}}
			<!-- visualize network -->
			<div id="canvas-toolbar">
				<div class="col-md-6">
					<a href="{{=URL('net', 'select')}}" class="btn btn-success col-md-1"><span class="glyphicon glyphicon-th-list"></span></a>
					<button class="backto-thr btn btn-danger col-md-1">new thr</button>
					<button class="backto-sta btn btn-danger col-md-1">new root</button>
				</div>
				<div class="col-md-6">
					{{=row['starting_node']}}
				</div>
			</div>
			<div id="canvas"></div>

			<div class="jumbotron" id='select_starting_point' style='display: {{if row["pflag"] == 3:}}block{{else:}}none{{pass}};'>
				<div class="container">
					<h1>{{=T('Filter the ')}}<i>{{=T('nodes')}}</i></h1>
					<form id='go-filters'>
						<input type="hidden" name='name' id="name" value="{{=name}}" />
						<table class="table">
							<tr>
								<th style='text-align: center; width: 50%;'>show GOs <small style='font-weight: normal;'>({{=T('default: ALL')}})</small></th>
								<th style='text-align: center; width: 50%;'>hide GOs <small style='font-weight: normal;'>({{=T('default: NONE')}})</small></th>
							</tr>
							<tr>
								<td>
									<div id="show-go-list"></div>
									<div id="go-add" class="col-md-12" style='padding-top: 3px;'>
										<button class='btn btn-info' data-scope='show'>add GO</button>
									</div>
								</td>
								<td>
									<div id="hide-go-list"></div>
									<div id="go-add" class="col-md-12" style='padding-top: 3px;'>
										<button class='btn btn-info' data-scope='hide'>add GO</button>
									</div>
								</td>
							</tr>
						</table>
						<p align="right"><button class="btn btn-block btn-success">{{=T('refresh')}}</button></p>
					</form>
					<h1 style='margin-bottom: 0.5em;'>{{=T('And choose the')}} <i>{{=T('root')}}</i></h1>
					<div id="root-list">...</div>
					<h2 class='col-md-12'>{{=T('...or ')}}<a href="#" class="backto-thr">{{=T('choose another threshold!')}}</a></h2>
					<p style='margin-bottom: 3em;'></p>
				</div>
			</div>

			<script type="text/javascript">
				$(document).ready(function() {
					/* SELECT ROOT */
					// Prepare GO selector
					goselect = $('<select class="form-control">{{for go in gos:}}<option value="{{=go[0]}}">{{=go[0]}} [{{=go[1]}}]</option>{{pass}}</select>');
					// Add GO-selector event
					$("#go-add button").click(function(e) {
						e.preventDefault();

						id = $(this).parent().siblings('div').children().length;
						list = $(this).parent().siblings('div');

						container = $("<div/>").attr('id', 'wrap-'+$(this).attr('data-scope')+'-go-'+id).append($("<div/>").addClass('col-md-11').append($(goselect).clone().attr('name', $(this).attr('data-scope')+'-go-'+id).attr('id', $(this).attr('data-scope')+'-go-'+id)));
						$(container).append($('<button />').addClass('btn btn-danger col-md-1 remove-go-selector').append($('<span/>').addClass('glyphicon glyphicon-remove')).click(function(e) {
							e.preventDefault();
							$(this).parent().remove();
						}));
						$(list).append($(container).addClass('col-md-12').css({'margin-bottom':'3px'}));
					});
					// Refresh root list
					$('#go-filters').submit(function(e) {
						e.preventDefault();
						$.post('{{=URL("net","go_filtered_vertices_ajax")}}', $(this).serialize(), function(data) {
							$('#root-list').html('');
							for (var i = 0; i < data.vs.length-1; i++) {
								$('#root-list').append($('<div/>').addClass('col-md-3').css({'padding':'2px'}).append($('<button />').addClass('btn btn-block btn-primary').text(data.vs[i]).attr('onclick','setStartingPoint("'+data.vs[i]+'")')));
							};
						}, 'json');
					});

					/* CANVAS */
					cy = cytoscape(options = {
						container: document.getElementById('canvas'),
						hideEdgesOnViewport: true,
						hideLabelsOnViewport: true,
						textureOnViewport: true,

						style: cytoscape.stylesheet()
							.selector('node').css({
								'background-color': 'white',
								'border-color': '#909090',
								'border-width': '0.5px',
								'content': 'data(name)',
								'text-valign': 'center',
								'color': '#323232',
								'min-zoomed-font-size': '5px',
								'font-family': 'arial',
								'font-size':'4',
								'height':'10',
								'width':'10',
								'text-outline-color': 'white',
								'text-outline-width': '0.5'
							})
							.selector('edge').css({
								'target-arrow-shape': 'triangle',
								'width':'0.25px'
							})
							.selector(':selected').css({
								'background-color': 'black',
								'line-color': 'black',
								'target-arrow-color': 'black',
								'source-arrow-color': 'black'
							})
							.selector('.faded').css({
								'opacity': 0.25,
								'text-opacity': 0
							}),
						ready: function(){
							window.cy = this;
							cy.add(JSON.parse($('#hidden-json').text()));
							cy.fit();
							// giddy up...
						},
						stop: function() {
							cy.center(cy.$('*'));
						}
					});
					$('.backto-thr').click(function(e) {
						e.preventDefault();
						$.post("{{=URL('net', 'update_flag_ajax.html')}}", {name:"{{=name}}", flag:2}, function(data) {
							console.log(data);
							if(0 == data['err']) {
								document.location.href = "{{=URL('net/visualize', name)}}";
							}
						}, 'json');
					});
					$('.backto-sta').click(function(e) {
						e.preventDefault();
						$.post("{{=URL('net', 'update_flag_ajax.html')}}", {name:"{{=name}}", flag:3}, function(data) {
							console.log(data);
							if(0 == data['err']) {
								document.location.href = "{{=URL('net/viewer', name)}}";
							}
						}, 'json');
					});	
				});
			</script>
		{{else:}}
			<!-- error, display in console log -->
			<script type="text/javascript">
				console.log({err:2})
			</script>
			<a href="../select" class="btn btn-danger" style='margin-top: 0.75em;'>back</a>
		{{pass}}
	{{else:}}
		<!-- error, display in console log -->
		<script type="text/javascript">
			console.log({err:1})
		</script>
		<a href="../select" class="btn btn-danger" style='margin-top: 0.75em;'>back</a>
	{{pass}}
</div>
