{{extend 'layout.html'}}

<div>
	{{if graph['pflag'] == 0:}}
		<!-- initiate pre-processing -->
		<script type="text/javascript">
			$.post("{{=URL('net', 'preprocess_ajax.html')}}", {name:'{{=name}}'}, function(data) { console.log(data); });
		</script>
	{{pass}}
	{{if n != 0:}}
		{{if graph['pflag'] in [0, 1]:}}
			<!-- show pre-processing progress -->
			<div class="panel-body">
				<h2>{{=T('Your network is being pre-processed, please wait...')}}<br />
					<small>{{=T('(performed only once per network, longer times for bigger networks)')}}</small>
				</h2>
				<br />
				Network <u>pre-processing</u> comprehends:
				<ul>
					<li>{{=T('Network format')}}</li>
					<li>{{=T('JSON storage creation')}}</li>
					<li>{{=T('Network layout processing')}}</li>
				</ul>
				<br />
				<small>{{=T('Progress status continuously updated...')}}</small>
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
				</div>
				<pre class="progress-text">> Starting...</pre>
				<small>{{=T('The initialization has been running for ')}}<span class="progress-time">0</span>{{=T(' seconds.')}}</small>
			</div>
			<script type="text/javascript">
				function updateProgress(name, time) {
					$.post("{{=URL('net', 'preprocess_ajax.html')}}", {name:name}, function(data) {
						console.log(data);
						$('.progress-time').text(data['time']);
						$('.progress-text').html(data['status']);
						$('.progress-bar').attr('aria-valuenow',data['perc']).css({'width':data['perc']+'%'}).text(data['perc']+'%')
						if(100 != data['perc']) { setTimeout(function() { updateProgress(name, time); }, time); }
						else { setTimeout(function() { document.location.reload(); }, time); }
					}, 'json');
				}
				console.log({msg:"pre-processing in progress", err:0})
				updateProgress("{{=name}}", 1000);
			</script>
		{{elif graph['pflag'] == 2:}}
			<p class='col-md-3 col-md-offset-1' style="line-height: 34px; text-align: right;">{{=T('Current threshold: ')}}</p>
			<form id='form-thr' class="col-md-4" action='{{=URL("net/visualize", name)}}' method="post">
				<input type="text" class="form-control" name='thr' id='thr-input' value="{{=thr['val']}}" />
			</form>
			<button id='submit-thr' class="btn btn-success col-md-1">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
			<button id="continue-thr" class="btn btn-danger col-md-1" style='margin-left: 0.5em;'>
				<span class="glyphicon glyphicon-forward"></span>
			</button>
			<div class="col-md-10 col-md-offset-1" align='center'>
				<img src="{{=URL('default/download', thr['chart'])}}" style='width: 100%; max-width: 800px; display: block; margin: 0 auto;' /><br />
			</div>
			<p class='col-md-12' style="text-align: center;">
				<a href='#' class='btn btn-warning' onclick="javascript:$('#plot_rawdata').css({'display':'block'});">{{=T('show raw data')}}</a><br />
				<small>{{=thr['nbins']}} bins (based on F-D rule)</small>
				<div class='col-md-6' align='center'>
					<b>Whole network</b><br />
					#edges: {{=graph['ecount']}} ~ #nodes: {{=graph['vcount']}}
				</div>
				<div class='col-md-6' align='center'>
					<b>With threshold:</b><br />
					#edges: {{=thr['ecount']}} ~ #nodes: {{=thr['vcount']}}
				</div>
				<div class='col-md-12' align='center'>
					<a href='#' class='btn btn-info' onclick="javascript:$('#gos').css({'display':'block'});">{{=T('show GOs')}}</a><br />
				</div>
			</p>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#submit-thr').click(function(e) {
						e.preventDefault();
						$('#form-thr').submit();
						$('#thr-input').attr('disabled','disabled');
						$('#submit-thr, #continue-thr').addClass('disabled');
					});
					$('#thr-input').keypress(function(e) {
						if(e.which == 13) {
							e.preventDefault();
						}
					});
					$('#continue-thr').click(function(e) {
						e.preventDefault();
						$.post("{{=URL('net', 'update_flag_ajax.html')}}", {name:"{{=name}}", flag:{{if graph['starting_node'] in [None, '']:}}3{{else:}}4{{pass}}}, function(data) {
							console.log(data);
							if(0 == data['err']) {
								document.location.href = "{{=URL('net/viewer', name)}}";
							}
						}, 'json');
					});
				});
			</script>
			<div class="jumbotron" id='plot_rawdata' style='display: none;'>
				<div class="container">
					<p align="center">
						<a href='#' class='btn btn-danger' onclick="javascript:$('#plot_rawdata').css({'display':'none'});">{{=T('hide raw data')}}</a>
					</p>
					<table class="table">
						<tr>
							<th>lower</th>
							<th>upper</th>
							<th>mid</th>
							<th>count</th>
							<th>freq</th>
						</tr>
						{{for row in thr['rawdata'].strip().split("\n"):}}
						{{row = row.split("\t")}}
						<tr>
							<td>{{=row[0]}}</td>
							<td>{{=row[1]}}</td>
							<td>{{=row[2]}}</td>
							<td>{{=row[3]}}</td>
							<td>{{=row[4]}}</td>
						</tr>
						{{pass}}
					</table>
				</div>
			</div>
			<div class="jumbotron" id='gos' style='display: none;'>
				<div class="container">
					<p align="center">
						<a href='#' class='btn btn-danger' onclick="javascript:$('#gos').css({'display':'none'});">{{=T('hide GOs')}}</a>
					</p>
					<p>Found {{=len(gos)}} gene annotations, for {{=graph['vcount']}} vertices.</p>
					<table class='table'>
						<tr>
							<th>Gene Annotation</th>
							<th>#no-thr</th>
							<th>#thr</th>
						</tr>
						{{for row in gos:}}
						<tr>
							<td>{{=row[0]}}</td>
							<td>{{=row[1]}}</td>
							<td>{{=row[2]}}</td>
						</tr>
						{{pass}}
					</table>
				</div>
			</div>
		{{elif graph['pflag'] in [3,4]:}}
			<script type="text/javascript">
				document.location.href = "{{=URL('net/viewer', name)}}";
			</script>
		{{else:}}
			<!-- error, display in console log -->
			<script type="text/javascript">
				console.log({err:2})
			</script>
			<a href="../select" class="btn btn-danger" style='margin-top: 0.75em;'>back</a>
		{{pass}}
	{{else:}}
		<!-- error, display in console log -->
		<script type="text/javascript">
			console.log({err:1})
		</script>
		<a href="../select" class="btn btn-danger" style='margin-top: 0.75em;'>back</a>
	{{pass}}
</div>