<div class="panel-body" ng-app="networkFilter" ng-controller="filterController as fCtrl" ng-model="fCtrl">

	<h4 class="text-success">Use a WHITELIST of GOs</h4>

	Keep only nodes with the following GOs. <a href ng-click="addGOform()" class="btn btn-success btn-sm" style="float: right;"  ng-class="{ disabled: s.status.fstatus == -1 }"><span class="glyphicon glyphicon-plus"></span></a>

	<ul>
		<li ng-repeat="i in m.counter" style="list-style: none;">
			<div class="col-sm-12" style="margin-top: 1em;">
				<select name="go-{{i}}" id="" class="form-control col-sm-12" ng-model="m.go[i]" ng-disabled="s.status.fstatus == -1">
					<option value="" selected>Select a GO</option>
					<option ng-repeat="onto in s.status.gene_onto | filter:m.filter[i]" value="{{onto[0]}}">{{onto[0]}} [{{onto[1]}}]</option>
				</select>
			</div>
			<div class="col-sm-12" style="padding-top: 0.5em;">
				<div class="col-sm-11" style="padding: 0;">
					<input type="text" class="form-control" width="100%" value="" placeholder="Search the GO" ng-model="m.filter[i]" ng-disabled="s.status.fstatus == -1" />
				</div>
				<div class="col-sm-1">
					<a href ng-click="popGOform(i)" class="btn btn-danger btn-sm" ng-class="{ disabled: s.status.fstatus == -1 }"><span class="glyphicon glyphicon-remove"></span></a>
				</div>
			</div>
		</li>
	</ul>

	<p>&nbsp;</p>

	<div class="col-sm-6">
		<a href ng-click="resetTryGotoHash(m.network_name, '#/filter/'+m.network_name+'/goWL');tryGOwl(m.network_name, m.go)" class="btn btn-success btn-block" ng-show="m.go.length !== 0 && m.go[0] !== ''" ng-class="{ disabled: s.status.fstatus == -1 }">test</a>
	</div>
	<div class="col-sm-6">
		<a href ng-click="" class="btn btn-success btn-block" ng-show="m.go.length !== 0 && m.go[0] !== ''" ng-class="{ disabled: s.status.fstatus == -1 }">apply</a>
	</div>
	<div class="col-sm-12" style="padding-top: 1em;">
		<a href ng-click="resetGOform(); resetTryGotoHash(m.network_name, '#/filter/'+m.network_name)" class="btn btn-danger btn-block" ng-class="{ disabled: s.status.fstatus == -1 }">back</a>
	</div>

</div>